

 .industries-section {
    padding-top: 140px;
    padding-bottom: 80px;
}
.container{
    width: 80%;
}
.h1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
    color: #101828;
    line-height: 72px;
}